html{
	scroll-behavior:smooth;
}

body{
	margin:0px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
}

div{
	width:610px;
    height:420px;
    padding:5px 5px 5px 25px;
}

h1{
	font-weight: 500;
	font-size: 22px;
	line-height: 26px;
}

h2{
    font-weight: bold;
    font-size: 25px;
    line-height: 29px;
    color: #FE4D4A;
    text-align:center;
	margin-top:80px;
}

h3{
	font-weight: normal;
	font-size: 16px;
	line-height: 19px;
}

#answer, .case{
	height:170px;
}

p{
	font-weight: 500;
	font-size: 18px;
	line-height: 21px;
}

p span{
	margin-top:20px;
}
#min{
	float:left;
}
#max{
	float:right;
	margin-right:20px;
}

input{
	position: relative;
	left: 16px;
	top: 19px;
}

.slider {
	-webkit-appearance: none;
	appearance: none;
	width: 454px;
	height: 9px;
	background: #E2E2E2;
	border-radius: 8px;
	outline: none;
	-webkit-transition: 0.2s;
	-moz-transition: .2s;
}

.slider::-webkit-slider-thumb{
	-webkit-appearance: none;
	width: 25px;
	height: 25px;
	background: #FFFFFF;
	border-radius:50%;
	border:8px solid #FE4D4A;
	cursor: pointer;
}
.slider::-moz-range-thumb{
	width: 9px;
	height: 9px;
	background: #FFFFFF;
	border-radius:50%;
	border:8px solid #FE4D4A;
	cursor: pointer;
}
.slider::-moz-range-track{
	visibility:hidden;
}

#polosa{
	position: relative;
	padding:0px;
	width: 0px;
	height: 9px;
	left: 43px;
	top: -13px;
	background: linear-gradient(90deg, #FF9796 4.65%, #FE4D4A 101.3%);
	border-radius: 8px;
	visibility:hidden;
}

#indicator{
	position: relative;
	padding:0px;
	width: 69px;
	height: 26px;
	left: 16px;
	top: -88px;
	padding:0px;
	background: #FE4D4A;
	border-radius: 5px;
	opacity:0;
}

#pop-up{
	position: relative;
	padding:0px;
	width: 7px;
	height: 7px;
	left: 46px;
	top: -58px;
	background: #FE4D4A;
	transform: rotate(-45deg);
	opacity:0;
}

#indicator span{
	position:relative;
	top:4px;
	left:8px;
	font-weight: 500;
	font-size: 16px;
	line-height: 19px;
	color:#fff;
}


.case{
    float:left;
    padding:0px 32px 0px 12px;
}

#case-1,#case-2,
#case-3-pic{
    width:142px;
	padding-top:0px;
}
#case-3{
    width:210px;
    padding-right:10px;
}

.case h3{
    margin-top:-10px;
}
.case h3::after{
    position:relative;
    left:10px;
    height:20px;
    padding:3px 8px 3px 8px;
    width:20px;
    content:'?';
    font-family: Roboto Mono;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 17px;
    color:#FE4D4A;
    border-radius:50%;
    background: #FEEBEF;
}

#block{
	margin:198px 0px 0px -25px;
	padding-top:7px;
	height: 55px;
    color: #FE4D4A;
    background: #FEEBEF;
    cursor:pointer;
}

#block h3{
    text-align:center;
}
#block img{
    position:relative;
    top:-2px;
    left:12px;
}

#click{
    padding:12px 38px 12px 38px;
    width: 58px;
    height: 21px;
    color:#ffffff;
    background: #FE4D4A;
    border-radius: 5px;
	text-decoration:none;
}

.ask{
    padding-left:112px;
	width:498px;
	height:82px;
}
.ask h3{
    float:left;
    margin:32px 34px 0px 0px;
}

img{
    position:relative;
    top:7px;
    left:30px;
}

